<%- include('partials/header') %>
<div class="bg-light p-5 rounded">
    <div class="center">
        <h1>Contact</h1>
    </div>
    <div class="box">
        <p><%= contactcontent%></p>
    </div>
</div>
<%- include('partials/footer')%>