<%- include('partials/header') %>
<div class="bg-light p-5 rounded">
    <div class="center">
        <h1>Bloggizen</h1>
        <h3>bloggen om iot20</h3>
    </div>
    <%for (blogg of bloggposts){%>
    <div class="box">
        <h3><%= blogg.title%></h3>
        <p><%= blogg.text%></p>
    </div>
    <%}%>
</div>
<%- include('partials/footer')%>